<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.investigation.mapper.InvestigationContentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.investigation.entity.InvestigationContent">
        <id column="content_id" property="contentId" />
        <result column="name_company" property="nameCompany" />
        <result column="card_number" property="cardNumber" />
        <result column="undertaker" property="undertaker" />
        <result column="unit_id" property="unitId" />
        <result column="info_id" property="infoId" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        content_id AS "contentId", name_company AS "nameCompany", card_number AS "cardNumber", undertaker AS "undertaker", unit_id AS "unitId", info_id AS "infoId", create_time AS "createTime", create_by AS "createBy", update_time AS "updateTime", update_by AS "updateBy"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.investigation.model.result.InvestigationContentResult" parameterType="cn.stylefeng.guns.modular.investigation.model.params.InvestigationContentParam">
        select
        <include refid="Base_Column_List"/>
        from investigation_content where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.investigation.model.params.InvestigationContentParam">
        select
        <include refid="Base_Column_List"/>
        from investigation_content where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.investigation.model.result.InvestigationContentResult" parameterType="cn.stylefeng.guns.modular.investigation.model.params.InvestigationContentParam">
        select
        <include refid="Base_Column_List"/>
        from investigation_content where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.investigation.model.params.InvestigationContentParam">
        select
        <include refid="Base_Column_List"/>
        from investigation_content where 1 = 1
    </select>

    <!--审核列表-->
     <select id="investigationInfoList" resultType="map">

        SELECT a.*,b.* ,c.* FROM investigation_info a
        LEFT JOIN investigation_object b ON a.info_id = b.info_id
		LEFT JOIN investigation_unit c   ON c.unit_id = b.unit_id
        WHERE b.info_id != '' order by a.apply_time desc
    </select>

    <!--我发起的协查申请（按用户）-->
    <select id="getinvestigationInfoListByLoginUser" resultType="map">

        SELECT a.*,b.* ,c.* FROM investigation_info a
        LEFT JOIN investigation_object b ON a.info_id = b.info_id
		LEFT JOIN investigation_unit c   ON c.unit_id = b.unit_id
        WHERE b.info_id != '' and a.user_id =#{userName}
    </select>

    <!--协查申请待审核-->
    <select id="getinvestigationInfoListByStatus" resultType="map">

        SELECT a.*,b.* ,c.* FROM investigation_info a
        LEFT JOIN investigation_object b ON a.info_id = b.info_id
		LEFT JOIN investigation_unit c   ON c.unit_id = b.unit_id
        WHERE b.info_id != '' and a.stauts ='1' order by a.apply_time desc
    </select>

    <select id="getInvestigationInfoByid" resultType="map" parameterType="cn.stylefeng.guns.modular.investigation.model.params.InvestigationContentParam">
        SELECT a.*,b.* ,c.*,d.file_name FROM investigation_info a
        LEFT JOIN investigation_object b ON a.info_id = b.info_id
		LEFT JOIN investigation_unit c   ON c.unit_id = b.unit_id
        LEFT JOIN investigation_pdf d   ON d.info_id = a.info_id and d.unit_id = c.unit_id
        where a.info_id=#{unitId}
    </select>

    <select id="getUnitByDeptId" resultType="string" parameterType="java.lang.Long">
        select unit_name from investigation_unit where unit_id = #{deptId} limit 1
    </select>


    <!--普通查询搜索  模糊查询-->
    <select id="getInvestigationInfoListBySearch" resultType="map" parameterType="java.lang.String">
        SELECT a.*,b.* ,c.* FROM investigation_info a
        LEFT JOIN investigation_object b ON a.info_id = b.info_id
		LEFT JOIN investigation_unit c   ON c.unit_id = b.unit_id
        WHERE b.info_id != '' AND (a.undertaker LIKE CONCAT('%',#{queryParam},'%')
           OR a.Documents_number LIKE  CONCAT('%',#{queryParam},'%')
           OR a.user_id LIKE CONCAT('%',#{queryParam},'%')
           OR b.name_company LIKE CONCAT('%',#{queryParam},'%')
           OR b.card_number LIKE CONCAT('%',#{queryParam},'%')
           OR c.unit_name LIKE CONCAT('%',#{queryParam},'%'))

    </select>

    <!--高级查询搜索  高级查询-->
    <select id="getInvestigationInfoListByHeighSearch" resultType="map" parameterType="cn.stylefeng.guns.modular.investigation.model.params.InvestigationContentParam">
        SELECT a.*,b.* ,c.* FROM investigation_info a
        LEFT JOIN investigation_object b ON a.info_id = b.info_id
		LEFT JOIN investigation_unit c   ON c.unit_id = b.unit_id
        WHERE b.info_id != ''
        <if test="paramCondition.undertaker != null and paramCondition.undertaker != ''">
            AND a.undertaker = #{paramCondition.undertaker}
        </if>
        <if test="paramCondition.DocumentsNumber != null and paramCondition.DocumentsNumber != ''">
            AND a.Documents_number  LIKE CONCAT('%',#{paramCondition.DocumentsNumber},'%')
        </if>
        <if test="paramCondition.userId != null and paramCondition.userId != ''">
            AND a.user_id = #{paramCondition.userId}
        </if>
        <if test="paramCondition.stauts != null and paramCondition.stauts != ''">
            AND a.stauts = #{paramCondition.stauts}
        </if>
        <if test="paramCondition.nameCompany != null and paramCondition.nameCompany != ''">
            AND b.name_company = #{paramCondition.nameCompany}
        </if>

        <if test="paramCondition.applyTime != null and paramCondition.applyTime != ''">
            AND a.apply_time = #{paramCondition.applyTime}
        </if>

    </select>

    <!-- 协查审核 -->
    <update  id="editInvestigationContent"  parameterType="cn.stylefeng.guns.modular.investigation.model.params.InvestigationContentParam">

        UPDATE investigation_info a SET a.stauts = #{param.stauts}, a.update_time= #{param.updateTime}
        <if test="param.infoRemark != null and param.infoRemark != ''">
            ,a.info_remark = #{param.infoRemark}
        </if>
        WHERE a.info_id = #{param.infoId}

    </update>
    <!--协查申请 删除-->
    <delete  id="deleteinvestigationInfoById">
        DELETE FROM investigation_info  where info_id = #{infoId}
    </delete>
    <!--协查申请 协查对象表 删除-->
    <delete  id="deleteinvestigationObjectById">
        DELETE FROM investigation_object  where info_id = #{infoId}
    </delete>

    <!--协查申请 已经审核（首页已办理）-->
    <select id="getinvestigationInfoListByStatusDone" resultType="map">

       SELECT * from investigation_info a where a.stauts ='3' order by a.apply_time desc
    </select>
</mapper>
