<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.investigation.mapper.InvestigationUnitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.investigation.entity.InvestigationUnit">
        <id column="unit_id" property="unitId" />
        <result column="unit_name" property="unitName" />
        <result column="unit_type" property="unitType" />
        <result column="unit_addr" property="unitAddr" />
        <result column="unit_logo" property="unitLogo" />
        <result column="unit_leader_name" property="unitLeaderName" />
        <result column="unit_leader_idCard" property="unitLeaderIdcard" />
        <result column="unit_leader_position" property="unitLeaderPosition" />
        <result column="unit_leader_phoneNum" property="unitLeaderPhonenum" />
        <result column="unit_leader_email" property="unitLeaderEmail" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        unit_id AS "unitId", unit_name AS "unitName", unit_type AS "unitType", unit_addr AS "unitAddr", unit_logo AS "unitLogo", unit_leader_name AS "unitLeaderName", unit_leader_idCard AS "unitLeaderIdcard", unit_leader_position AS "unitLeaderPosition", unit_leader_phoneNum AS "unitLeaderPhonenum", unit_leader_email AS "unitLeaderEmail", create_time AS "createTime", create_by AS "createBy", update_time AS "updateTime", update_by AS "updateBy"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.investigation.model.result.InvestigationUnitResult" parameterType="cn.stylefeng.guns.modular.investigation.model.params.InvestigationUnitParam">
        select
        <include refid="Base_Column_List"/>
        from investigation_unit where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.investigation.model.params.InvestigationUnitParam">
        select
        <include refid="Base_Column_List"/>
        from investigation_unit where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.investigation.model.result.InvestigationUnitResult" parameterType="cn.stylefeng.guns.modular.investigation.model.params.InvestigationUnitParam">
        select
        <include refid="Base_Column_List"/>
        from investigation_unit where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.investigation.model.params.InvestigationUnitParam">
        select
        <include refid="Base_Column_List"/>
        from investigation_unit where 1 = 1
    </select>

</mapper>
