<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.investigation.mapper.InvestigationObjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.investigation.entity.InvestigationObject">
        <id column="object_id" property="objectId" />
        <result column="object_notice" property="objectNotice" />
        <result column="name_company" property="nameCompany" />
        <result column="card_number" property="cardNumber" />
        <result column="remarks" property="remarks" />
        <result column="employee_card" property="employeeCard" />
        <result column="employee_card_select" property="employeeCardSelect" />
        <result column="info_id" property="infoId" />
        <result column="unit_id" property="unitId" />
        <result column="object_status" property="objectStatus" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        object_id AS "objectId", object_notice AS "objectNotice", name_company AS "nameCompany", card_number AS "cardNumber", remarks AS "remarks", employee_card AS "employeeCard", employee_card_select AS "employeeCardSelect", info_id AS "infoId", unit_id AS "unit_id",object_status as "objectStatus", create_time AS "createTime", create_by AS "createBy", update_time AS "updateTime", update_by AS "updateBy"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.investigation.model.result.InvestigationObjectResult" parameterType="cn.stylefeng.guns.modular.investigation.model.params.InvestigationObjectParam">
        select
        <include refid="Base_Column_List"/>
        from investigation_object where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.investigation.model.params.InvestigationObjectParam">
        select
        <include refid="Base_Column_List"/>
        from investigation_object where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.investigation.model.result.InvestigationObjectResult" parameterType="cn.stylefeng.guns.modular.investigation.model.params.InvestigationObjectParam">
        select
        <include refid="Base_Column_List"/>
        from investigation_object where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.investigation.model.params.InvestigationObjectParam">
        select
        <include refid="Base_Column_List"/>
        from investigation_object where 1 = 1
    </select>

    <!--协查受理-->
    <select id="investigationObjectListByCompId" resultType="map">
       SELECT a.*,b.*,c.Documents_number,c.apply_time,c.deadLine FROM investigation_object a
        LEFT JOIN investigation_unit b ON b.unit_id = a.unit_id
        LEFT JOIN investigation_info c ON a.info_id = c.info_id
        where b.unit_id = #{unit_id} AND c.stauts='3' ORDER BY c.apply_time
    </select>

    <select id="getInvestigationObjectInfoByid" resultType="map">
        select a.*,b.*,c.Documents_number,c.apply_time,c.deadLine,c.user_id AS userName from investigation_object a
        LEFT JOIN investigation_unit b on b.unit_id = a.unit_id
        LEFT JOIN investigation_info c on a.info_id = c.info_id
        where a.info_id = #{map.infoId} and a.unit_id=#{map.unitId} order by c.apply_time ASC
    </select>
</mapper>
