<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.message.mapper.MessageManagementMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.message.entity.MessageManagement">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="create_user" property="createUser" />
        <result column="urge_object" property="urgeObject" />
        <result column="create_time" property="createTime" />
        <result column="status" property="status" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", title AS "title", create_user AS "createUser",urge_object As "urgeObject" create_time AS "createTime", status AS "status", type AS "type"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.message.model.result.MessageManagementResult" parameterType="cn.stylefeng.guns.modular.message.model.params.MessageManagementParam">
        select
        <include refid="Base_Column_List"/>
        from message_management where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.message.model.params.MessageManagementParam">
        select
        <include refid="Base_Column_List"/>
        from message_management where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.message.model.result.MessageManagementResult" parameterType="cn.stylefeng.guns.modular.message.model.params.MessageManagementParam">
        select
        <include refid="Base_Column_List"/>
        from message_management where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.message.model.params.MessageManagementParam">
        select
        <include refid="Base_Column_List"/>
        from message_management where 1 = 1
    </select>

</mapper>
